<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/airsoftappdb
		</property>
		<property name="hibernate.connection.user">root</property>
		<property name="hibernate.connection.password">123456</property>
		
		<property name="hbm2ddl.auto">validate</property>
		<property name="show_sql">true</property>
		
		<mapping class="hlieb.model.Person" />
		<mapping class="hlieb.model.Age" />
		<mapping class="hlieb.model.Location" />
		<mapping class="hlieb.model.Contact" />
		<mapping class="hlieb.model.Team" />
		<mapping class="hlieb.model.Unit" />
		<mapping class="hlieb.model.Conflict" />
		<mapping class="hlieb.model.Camo" />
		<mapping class="hlieb.model.Manufacturer" />
		<mapping class="hlieb.model.weapons.WeaponAccessories" />
		<mapping class="hlieb.model.weapons.Weapon" />
		<mapping class="hlieb.model.gear.Gear" />
		<mapping class="hlieb.model.gear.Glasses" />
		<mapping class="hlieb.model.gear.Headwear" />
		<mapping class="hlieb.model.gear.KneePads" />
		<mapping class="hlieb.model.gear.Shoes" />
		<mapping class="hlieb.model.gear.Gloves" />
		<mapping class="hlieb.model.gear.Helmet" />
		<mapping class="hlieb.model.gear.HelmetCover" />
		<mapping class="hlieb.model.gear.IRMarker" />
		<mapping class="hlieb.model.gear.LightMarker" />
		<mapping class="hlieb.model.gear.Flashlight" />
		<mapping class="hlieb.model.gear.NVGMount" />
		<mapping class="hlieb.model.gear.CargoSystem" />
		<mapping class="hlieb.model.gear.PlateCarrier" />
		<mapping class="hlieb.model.gear.HeadGear" />
		<mapping class="hlieb.model.gear.Navigator" />
		<mapping class="hlieb.model.gear.NVG" />
		<mapping class="hlieb.model.gear.Radio" />
		<mapping class="hlieb.model.gear.PTT" />
		
	</session-factory>
</hibernate-configuration>